body,
html {
  position: relative;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/public/glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
  position: relative;
}

#content::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 1;
  opacity: 0.8;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2;
}

#header {
  background-color: black;
  z-index: 2;
}

#list__Glasses {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 3px;
  padding: 30px;
  z-index: 2;
}

#model {
  margin: 50px 0;
}

#img__Model {
  position: relative;
  z-index: 2;
}

#img__Glass {
  position: absolute;
  top: 55px;
  left: 38px;
  width: 110px;
  opacity: 0.9;
  z-index: 2;
}

#info__Glass {
  text-align: left;
  background-color: #fdbd8f;
  position: absolute;
  bottom: 1px;
  padding: 4px;
  margin-bottom: 0;
  color: #fff;
  font-weight: 600;
  opacity: 0.8;
  height: 72px;
  line-height: 1;
}

#info__Glass #name {
  font-size: 19px;
  color: #8163be;
}

#info__Glass span {
  font-size: 12px;
}
